* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

/* 헤더 부분 시작 */

header {
  border-bottom: 0.5px black solid;
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 114px;
}

.Logo {
  margin: 39px 0px 0px 59px;
}

.content {
  display: flex;
  white-space: nowrap;
  font-size: 25px;
  font-weight: 600;
  height: 36px;
  margin-top: 39px;
}

.content p:nth-child(2) {
  margin-left: 148px;
  margin-right: 145px;
}

.free {
  background-color: rgb(74, 218, 93);
  width: 186px;
  height: 55px;
  margin: 29px 60px 0px 0px;
  border-radius: 14px;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}

/* 여기까지 헤더 부분 */

/* 메인 부분 시작 */

.main_container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(217, 217, 217);
  width: 100%;
  height: 861px;
}

.leftarrow, .rightarrow {
  margin-top: 392px;
}

.qna {
  text-align: center;
  margin-top: 213px;
  
}

.qna p:nth-child(1){
  font-weight: bold;
  font-size: 132px;
}

.qna p:nth-child(2) {
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;  
}