* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 114px;
  border-bottom: 0.5px black solid;
}

.Logo {
  float: left;
  margin: 39px 0px 0px 59px;
}

.Link > li {
  float: left;
  font-size: 25px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  margin-right: 148px;
  margin-top: 39px;
}

.Link > li:first-child {
  margin-left: 464px;
}

.free {
  background-color: rgb(74, 218, 93);
  width: 186px;
  height: 55px;
  margin-left: 258px;
  margin-top: 29px;
  border-radius: 14px;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}

.QnA {
  background-color: rgb(217, 217, 217);
  width: 100%;
  height: 861px;
}