    * {
    margin: 0px;
    padding: 0px;
    }

    ul {
    list-style: none;
    }

    /* 헤더 부분 시작 */

    header {
    border-bottom: 0.5px black solid;
    }

    .header_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 114px;
    }

    .Logo {
    margin: 39px 0px 0px 59px;
    }

    .content {
    display: flex;
    white-space: nowrap;
    font-size: 25px;
    font-weight: 600;
    height: 36px;
    margin-top: 39px;
    }

    .content p:nth-child(2) {
    margin-left: 148px;
    margin-right: 145px;
    }

    .free {
    background-color: rgb(74, 218, 93);
    width: 186px;
    height: 55px;
    margin: 29px 60px 0px 0px;
    border-radius: 14px;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Noto Sans KR", sans-serif;
    }

    /* 여기까지 헤더 부분 */

    /*main 시작*/
    /* main 시작 */
    .main {
    display: flex; /* .main을 flex container로 설정 */
    justify-content: flex-start; /* 자식 요소를 시작 부분에 정렬 */
    width: 1751px;
    height: 1108px;
    }
    
        .Categories_box{
        width: 370px;
        height: 1108px;
        }

    .Categories {
    margin-left: 25px; /* .main으로부터의 좌측 마진을 지정 */
    margin-top: 31px;
    margin-bottom: 31px;
    width: 345px;
    height: 1046px;
    background-color: #D9D9D9;
    }
    .Categories p{
        font-size: 25px;
        font-weight:bold;
        margin-left: 17px;
        margin-top: 15px;
    }

    .page{
        width: 1367px;
        height: 732px;
        margin-left: 98px;
        margin-top: 75px;
    }
    .text-line{
        width: 1367px;
        height: 39px;
        margin-bottom: 75px;
    }

    .text-line p{
        font-size: 33px;
        font-weight: bold;
    }
    
    .line_box{
        margin-bottom: 122px;
    }

    .img_background {
        position: relative;
        width: 211px;
        height: 223px;
        background-color: #D9D9D9;
        display: inline-block;
        border-radius: 40px;
        margin-right: 168px;
        }

        .img_background2 {
        position: relative;
        width: 211px;
        height: 223px;
        background-color: #D9D9D9;
        display: inline-block;
        border-radius: 40px;
        }


        .img_background p {
        position: absolute;
        bottom: 29px;
        left: 71px;
        font-size: 25px;
        font-weight: bold;
        }

        .img_background2 p {
        position: absolute;
        bottom: 29px;
        left: 71px;
        font-size: 25px;
        font-weight: bold;
        }

        .img_background img{
        width: 90px;
        height: 90px;
        position: absolute;
        bottom: 91px;
        left: 61px;
        }

        .img_background2 img{
        width: 90px;
        height: 90px;
        position: absolute;
        bottom: 91px;
        left: 61px;
        }


    /*main 끝*/

    /* footer 시작 */

    .bottom {
    width: 1920px;
    height: 278px;
    background: #262626;
    position: relative;
    }

    .bottom_logo {
    margin-top: 58px;
    margin-left: 237px;
    }

    .bottom_text {
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin-left: 237px;
    margin-top: 25px;
    }

    .address {
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin-left: 237px;
    margin-top: 21px;
    }

    /* footer 끝*/