* {
  margin: 0px;
  padding: 0px;
}

.Logo {
  margin-left: 43px;
  position: absolute;
}

header {
  width: 1920px;
  height: 72px;
  border-bottom: 0.5px solid #000;
}

.menus {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  gap: 137px;
  display: flex;
  margin-left: 635px;
  margin-top: 42px;
  position: relative;
}

.hovers {
  width: 186px;
  height: 55px;
  border-radius: 14px;
  background: #4ada5d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 1673px;
  margin-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.RVA {
  margin-top: 119px;
  margin-left: 794px;
  margin-right: 793px;
}

.introduce {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 41px;
  font-weight: 400;
  width: 762px;
  height: 65px;
  margin-top: 34px;
  margin-left: 534px;
  display: inline-block;
  white-space: nowrap;
}

.uploade {
  display: flex; /* 가로 방향으로 가운데 정렬 */
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin-top: 20px;
}

.upload-voice,
.upload-vocal {
  width: 370px;
  height: 200px;
  background: #d9d9d9;
  border-radius: 40px;
  color: #000;
  margin-top: 79px;
}

.upload-voice {
  margin-left: 513px;
}

.upload-vocal {
  margin-left: 154px;
}

.user {
  width: 48px;
  height: 53px;
  justify-content: center;
  margin-top: 47px;
  margin-left: 161px;
}

.uploade-text {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.uploade-complete {
  width: 350px;
  height: 70px;
  border-radius: 14px;
  background: #4ada5d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 400;
  justify-content: center;
  display: flex;
  margin-top: 99px;
  margin-left: 770px;
  margin-bottom: 85px;
  border: none;
}

.bottom {
  width: 1920px;
  height: 278px;
  background: #262626;
}

.bottom_logo {
  margin-top: 58px;
  margin-left: 237px;
}

.bottom_text {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  margin-left: 237px;
  margin-top: 25px;
}

.address {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  margin-left: 237px;
  margin-top: 21px;
}
