@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  border: 0px;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 114px;
  border-bottom: 1px solid black;
}

.Logo {
  margin-top: 39px;
  margin-left: 59px;
  height: 40px;
}

.over:hover {
  cursor: pointer;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 633px;
  margin-top: 39px;
}

.side-menu {
  width: 121px;
  height: 36px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  text-align: center;
}

.side-menu a {
  text-decoration: none;
  color: black;
}

.side-menu a:hover {
  color: gray;
}

.center-menu {
  width: 98px;
  height: 36px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  text-align: center;
}

.center-menu:hover {
  color: gray;
}

#start_free {
  width: 186px;
  height: 55px;
  border-radius: 14px;
  background-color: #4ada5d;
  border: none;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 29px;
  margin-right: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#start_free:hover {
  background-color: rgba(74, 218, 93, 0.7);
}

#bigRVA {
  font-family: "Allerta Stencil", sans-serif;
  width: 784px;
  height: 175px;
  font-size: 137px;
  text-align: center;
  margin: 0px auto;
  margin-top: 86px;
}

#gqv {
  margin: 0px auto;
  text-align: center;
  font-size: 41px;
  font-family: "Noto Sans KR";
  width: 784px;
  height: 65px;
  margin-top: 27px;
}

#func_btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 1052px;
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.func {
  width: 258px;
  height: 200px;
  font-family: "Inter", sans-serif;
  border-radius: 40px;
  font-weight: 400px;
  font-size: 20px;
  background-color: #d9d9d9;
}

.func img {
  margin-bottom: 27px;
}

#check_voice {
  display: flex;
  width: 350px;
  height: 70px;
  margin: 0px auto;
  margin-top: 122px;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  justify-content: center;
  place-items: center;
  background-color: #4ada5d;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  background-color: #262626;
  margin-top: 100px;
  height: 278px;
}

footer img {
  margin-top: 68px;
  margin-left: 237px;
  filter: invert(100%);
}

footer p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-top: 13px;
  height: 18px;
  padding-left: 237.33px;
}

footer p a {
  color: white;
}
